{
	"semi": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 120,
	"tabWidth": 4,
	"useTabs": true,
	"quoteProps": "as-needed",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"endOfLine": "lf"
}
